<form #userForm="ngForm" name="userForm" (ngSubmit)="SaveUser(userForm)">
    <div class="example-container">
    <mat-form-field> <input matInput placeholder="First Name" id="firstname" [(ngModel)]="fName" name="fName" required></mat-form-field>
       <mat-form-field>  <input matInput placeholder="Last Name" id="lastname" [(ngModel)]="lName" name="lName" required></mat-form-field>
       <mat-form-field>  <input matInput placeholder="Employee ID" id="empID" [(ngModel)]="empID" name="empID" required></mat-form-field>
    </div>
      <button  type="submit" mat-raised-button *ngIf="!isEdit">Add User</button>
      <button  type="submit" mat-raised-button *ngIf="isEdit" >Update</button>
      <button type="reset" mat-raised-button >Reset</button>
      
</form>
<br>
<br>
<mat-divider></mat-divider>
<mat-form-field>
    <input matInput [(ngModel)]="searchText" placeholder="Search here">
    
  </mat-form-field>
  Sort by:
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle (click)="updateSort('f_name')"  name="f_name" >First name</mat-button-toggle>
        <mat-button-toggle  (click)="updateSort('l_name')"  >Last Name</mat-button-toggle>
        <mat-button-toggle  (click)="updateSort('employee_id')" >Employee ID</mat-button-toggle>
</mat-button-toggle-group>
<br>

<table>
    <tr *ngFor="let user of users | filter:searchText| sortingItems:sortOrder :1">
<td>
<mat-list role="list">
    <mat-list-item role="listitem">First Name: {{user.f_name}}</mat-list-item>
    <mat-list-item role="listitem">Last Name: {{user.l_name}}</mat-list-item>
    <mat-list-item role="listitem">Employee ID: {{user.employee_id}}</mat-list-item>
 </mat-list>
</td>
<td>
    <mat-list role="list">
        <mat-list-item role="listitem"><button  type="submit" mat-raised-button (click)="getUser(user.user_id)">Edit</button></mat-list-item>
        <mat-list-item role="listitem"><button  type="submit" mat-raised-button (click)="deleteUser(user.user_id)">Delete</button></mat-list-item>
        
     </mat-list>

</td>
<mat-divider></mat-divider>
</tr>
</table>