<h2 mat-dialog-title>Select Project</h2>
<mat-form-field>
        <input matInput [(ngModel)]="searchText" placeholder="Search here for Projects">
        
      </mat-form-field>
<table>
    <tr *ngFor="let project of data |filter:searchText">
<td>
<mat-list role="list">
    <mat-list-item role="listitem">{{project.project1}}</mat-list-item>  
   </mat-list>
</td>
<td>
    <mat-list role="list">
        <mat-list-item role="listitem"><button 
            [mat-dialog-close]="project" mat-raised-button >Select</button></mat-list-item>
      
     </mat-list>

</td>
</tr>
</table>
  

<!--<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>-->